<div class="col-md-12">
	<section class="widget">
		<header>
			<h4>
				<span class="fw-semi-bold">{{ 'WELCOME.TITLE' | translate }}</span>
			</h4>
		</header>
		<div class="widget-body">
		
			
			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
						<th class="hidden-xs text-center">{{ 'WELCOME.MENU.DESC' | translate }}</th>
						<th class="hidden-xs text-center">{{ 'WELCOME.MENU.FUNCTION' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">{{ 'WELCOME.MSG_POPUP' | translate }}</td>
						<td class="text-center"><button ng-click="world()">world</button></td>
					</tr>
					<tr>
						<td class="text-center">{{ 'WELCOME.MSG_CALL' | translate }}</td>
						<td class="text-center"><button ng-click="sendMsg()">sendMsg()</button></td>
					</tr>
					<tr>
						<td class="text-center">{{ 'WELCOME.MSG_CALL2' | translate }}</td>
						<td class="text-center"><button ng-click="sendMsg2('aaaaaaa')">sendMsg2()</button></td>
					</tr>
					<tr>
						<td class="text-center">{{ 'WELCOME.BLOCKING_POPUP' | translate }}</td>
						<td class="text-center"><button ng-click="blockingPopup(true)">blockingPopup(true)</button></td>
					</tr>
				</tbody>
			</table>
			<div>
				<a href="/browser">browser</a>
			</div>
			
			<!-- 
			<button ng-click="sendMsg3(\"{{ 'APP.NAME' | translate }}\")">sendMsg2()</button>
			 -->
		
		</div>
	</section>
</div>

