<div class="col-md-12">
	<section class="widget">
		<header>
			<h4>
				<span class="fw-semi-bold">CRUD</span> 리스트
			</h4>
		</header>
		<div class="widget-body">
		
			<div class="clearfix">
				<div class="pull-right">
					<button class="btn btn-primary btn-rounded" ng-click="editAction()">NEW</button>
				</div>
			</div>

			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
					<tr>
						<th class="text-center" ng-class="getSortClass('id')"  ng-click="sortAction('id')">SEQ</th>
						<th class="text-center" ng-class="getSortClass('name')"  ng-click="sortAction('name')">이름</th>						
						<th class="text-center" ng-class="getSortClass('gender')" ng-click="sortAction('gender')">성별</th>
						<th class="hidden-xs text-center">생년월일</th>
						<th class="hidden-xs text-center">Email</th>
						<th class="hidden-xs text-center">편집</th>
					</tr>

				</thead>
				<tbody>
					<tr dir-paginate="person in people | itemsPerPage: page.size"
						total-items="page.totalElements" current-page="pagination.current">
						<td class="text-center">{{person.no}}</td>
						<td class="text-center"><a ng-click="viewAction(person)">{{person.name}}</a></td>						
						<td class="text-center">{{person.gender}}</td>
						<td class="hidden-xs text-center"><p ng-bind="person.birth | date:'yyyy-MM-dd'"></p></td>
						<td class="hidden-xs">{{person.email}}</td>												
						<td class="hidden-xs text-center">
							<button
								class="btn btn-xs btn-primary"
								mwl-confirm
								title="삭제 확인"
								message="삭제하시겠습니까?"
								confirm-text="예"
								cancel-text="아니오"
								placement="top"
								on-confirm="deleteAction(person.no)"
								on-cancel=""
								confirm-button-type="primary"
								cancel-button-type="inverse">
								Delete
							</button>
							<button class="btn btn-xs btn-primary"
								ng-click="editAction(person)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix text-center">
				<dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
			</div>
		</div>
	</section>
</div>