<div class="col-md-12">
	<section class="widget">
		<header>
			<h4>
				<span class="fw-semi-bold">LIST</span>
			</h4>
		</header>
		<div class="widget-body">
		
			<div class="clearfix">
				<div class="pull-right">
					<button class="btn btn-primary btn-rounded" ng-click="editForm()">NEW</button>
				</div>
			</div>
						
			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
						<th class="text-center"
							ng-class="getSortClass('name')"
							ng-click="sortHandle('name')">name</th>							
						<th class="text-center"
							ng-class="getSortClass('email')"
							ng-click="sortHandle('email')">email</th>
						<th class="text-center"
							ng-class="getSortClass('tel')"
							ng-click="sortHandle('tel')">tel</th>
						<th class="text-center"
							ng-class="getSortClass('description')"
							ng-click="sortHandle('description')">description</th>
						<th class="text-center"
							ng-class="getSortClass('position')"
							ng-click="sortHandle('position')">position</th>
						<th class="hidden-xs text-center">Modify</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="entity in collectionResource._embedded.employee | itemsPerPage: collectionResource.page.size"
						total-items="collectionResource.page.totalElements" current-page="search.currentPage">
						<td class="text-center"><a ng-click="read(entity)">{{entity.name}}</a></td>
						<td class="text-center">{{entity.email}}</a></td>						
						<td class="text-center">{{entity.tel}}</td>
						<td class="hidden-xs text-center">{{entity.description}}</td>
						<td class="hidden-xs text-center">{{entity._links.position.href}}</td>									
						<td class="hidden-xs text-center">
							<button
								class="btn btn-xs btn-primary"
								mwl-confirm
								title='{{"APP.DELETE.CONFIRM" | translate}}'
								message='{{"APP.DELETE.MSG" | translate}}'
								confirm-text='{{"APP.YES" | translate}}'
								cancel-text='{{"APP.NO" | translate}}'
								placement="top"
								on-confirm="remove(entity)"
								on-cancel=""
								confirm-button-type="primary"
								cancel-button-type="inverse">
								{{"APP.DELETE" | translate}}
							</button>
							<button class="btn btn-xs btn-primary"
								ng-click="editForm(entity)">{{"APP.EDIT" | translate}}</button>
						</td>
						
					</tr>
				</tbody>
			</table>
			<div class="clearfix text-center">				
				<dir-pagination-controls on-page-change="search.page = newPageNumber-1; readAll();"></dir-pagination-controls>
			</div>
		</div>
	</section>
</div>