<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<section class="widget">
			<header>
				<h4>
					<span class="fw-semi-bold">EDIT</span>
				</h4>				
			</header>
			<div class="widget-body">
				<form name="editForm" class="form-horizontal form-label-rifht">
					<fieldset>
						<legend>
							<span class="label btn-info text-gray-dark mr-xs"> Entity Detail </span> 
						</legend>
						<div class="form-group">
							<label class="control-label col-sm-3" for="subject"><strong>subject</strong></label>
							<div class="col-sm-9">
								<input type="text" id="subject" name="subject" class="form-control"
									ng-model="itemResource.subject" 
									required="required"
									ng-minlength="1">
								<ul ng-show="!editForm.subject.$valid" class="parsley-errors-list filled"><li class="parsley-required">{{"APP.EDIT.REQUIRED" | translate}}</li></ul>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="writer"><strong>writer</strong></label>
							<div class="col-sm-9">
								<input type="text" id="writer" name="writer" class="form-control" ng-model="itemResource.writer">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="date"><strong>date</strong></label>
							<div class="col-sm-9">
								<input type="text" id="date" name="date" class="form-control" ng-model="itemResource.date">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="tags"><strong>tags</strong></label>
							<div class="col-sm-9">
								<input type="text" id="tags" name="tags" class="form-control" ng-model="itemResource.tags">
							</div>
						</div>	
						<div class="form-group">
							<label class="control-label col-sm-3" for="files"><strong>files</strong></label>
							<div class="col-sm-9">
								<input type="file" nv-file-select uploader="uploader"/>
							</div>
						</div>	
						<div class="form-group">
							<label class="control-label col-sm-3"> </label>
							<div class="col-sm-9">
								<div style="margin-bottom: 40px">
							
				                    <table class="table">
				                        <thead>
				                            <tr>
				                                <th width="50%">Name</th>
				                                <th ng-show="uploader.isHTML5">Size</th>
				                                <th ng-show="uploader.isHTML5">Progress</th>
				                                <th>Status</th>
				                                <th>Actions</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr ng-repeat="item in uploader.queue">
				                                <td><strong>{{ item.file.name }}</strong></td>
				                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				                                <td ng-show="uploader.isHTML5">
				                                    <div class="progress" style="margin-bottom: 0;">
				                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				                                    </div>
				                                </td>
				                                <td class="text-center">
				                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
				                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
				                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				                                </td>
				                                <td nowrap>
				                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
				                                        <span class="glyphicon glyphicon-upload"></span> Upload
				                                    </button>
				                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
				                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
				                                    </button>
				                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
				                                        <span class="glyphicon glyphicon-trash"></span> Remove
				                                    </button>
				                                </td>
				                            </tr>
				                        </tbody>
				                    </table>
				
				                    <div>
				                        <div>
				                            Queue progress:
				                            <div class="progress" style="">
				                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
				                            </div>
				                        </div>
				                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
				                            <span class="glyphicon glyphicon-upload"></span> Upload all
				                        </button>
				                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
				                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
				                        </button>
				                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
				                            <span class="glyphicon glyphicon-trash"></span> Remove all
				                        </button>
				                    </div>
				
				                </div>
							</div>
						</div>
						
											
					</fieldset>
					
					
					<div class="form-actions">
						<button type="button" class="btn btn-primary btn-rounded pull-right" 
							ng-click="edit(editForm.$valid)">{{"APP.SAVE" | translate}}</button>
			            <span class="btn btn-default btn-rounded" ng-click="cancel()">{{"APP.CANCEL" | translate}}</span>
					</div>
					
					<!-- 
					<tt>currentPerson.password = {{currentPerson.password}}</tt><br/>
					<tt>editForm.name.$valid = {{editForm.name.$valid}}</tt><br/>
					<tt>editForm.password.$valid = {{editForm.password.$valid}}</tt><br/>					
					<tt>editForm.gender.$valid = {{editForm.gender.$valid}}</tt><br/>
					<tt>editForm.email.$valid = {{editForm.email.$valid}}</tt><br/>
					<tt>editForm.birth.$valid = {{editForm.birth.$valid}}</tt><br/>
					<tt>editForm.tel.$valid = {{editForm.tel.$valid}}</tt><br/>
					 -->
					
				</form>
			</div>
		</section>
	</div>
</div>
