<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<section class="widget">
			<header>
				<h4>
					<span class="fw-semi-bold">EDIT</span>
				</h4>				
			</header>
			<div class="widget-body">
				<form name="editForm" class="form-horizontal form-label-rifht">
					<fieldset>
						<legend>
							<span class="label btn-info text-gray-dark mr-xs"> Entity Detail </span> 
						</legend>
						<div class="form-group">
							<label class="control-label col-sm-3" for="subject"><strong>subject</strong></label>
							<div class="col-sm-9">
								<input type="text" id="subject" name="subject" class="form-control"
									ng-model="itemResource.subject" 
									required="required"
									ng-minlength="1">
								<ul ng-show="!editForm.subject.$valid" class="parsley-errors-list filled"><li class="parsley-required">{{"APP.EDIT.REQUIRED" | translate}}</li></ul>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="writer"><strong>writer</strong></label>
							<div class="col-sm-9">
								<input type="text" id="writer" name="writer" class="form-control" ng-model="itemResource.writer">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="date"><strong>date</strong></label>
							<div class="col-sm-9">
								<input type="text" id="date" name="date" class="form-control" ng-model="itemResource.date">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="tags"><strong>tags</strong></label>
							<div class="col-sm-9">
								<input type="text" id="tags" name="tags" class="form-control" ng-model="itemResource.tags">
							</div>
						</div>						
					</fieldset>
					
					
					<div class="form-actions">
						<button type="button" class="btn btn-primary btn-rounded pull-right" 
							ng-click="edit(editForm.$valid)">{{"APP.SAVE" | translate}}</button>
			            <span class="btn btn-default btn-rounded" ng-click="cancel()">{{"APP.CANCEL" | translate}}</span>
					</div>
					
					<!-- 
					<tt>currentPerson.password = {{currentPerson.password}}</tt><br/>
					<tt>editForm.name.$valid = {{editForm.name.$valid}}</tt><br/>
					<tt>editForm.password.$valid = {{editForm.password.$valid}}</tt><br/>					
					<tt>editForm.gender.$valid = {{editForm.gender.$valid}}</tt><br/>
					<tt>editForm.email.$valid = {{editForm.email.$valid}}</tt><br/>
					<tt>editForm.birth.$valid = {{editForm.birth.$valid}}</tt><br/>
					<tt>editForm.tel.$valid = {{editForm.tel.$valid}}</tt><br/>
					 -->
					
				</form>
			</div>
		</section>
	</div>
</div>
