<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<section class="widget">
			<div class="widget-body">
				<form name="editForm" class="form-horizontal board_basic" 
					data-ui-jq="parsley" 
					data-parsley-priority-enabled="ture"
					ng-submit="update(currentPoint, editForm.$valid)">
					<fieldset>
						<legend>
							<span class="label label-default text-white mr-xs"> {{"view_point_manage_info_basic" | translate}} </span> 
							{{"view_point_manage_info_basic_desc" | translate}}
						</legend>
						<div class="form-group">
							<label class="control-label col-sm-3"><strong>{{"view_point_manage_edit_id" | translate}}</strong></label>
							<div class="col-sm-3 padding_top_5 margin_left_10"><strong>{{currentPoint.id}}</strong></div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="name"><strong>{{"view_point_manage_edit_name" | translate}}</strong></label>
							<div class="col-sm-9">
								<input type="text" id="name" name="name" class="form-control" ng-model="currentPoint.name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="interval"><strong>{{"view_point_manage_edit_interval" | translate}}</strong></label>
							<div class="col-sm-9">
								<div class="pull-left">
									<input type="number" id="interval" name="interval" class="form-control" 
									ng-model="currentPoint.interval" 
									string-to-number
									min="0"
									style="width:100px">
								</div>
								<div class="pull-left padding_top_10 margin_left_10"> ms</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="criteria"><strong>{{"view_point_manage_edit_criteria" | translate}}</strong></label>
							<div class="col-sm-9">
								<input type="text" id="criteria" name="criteria" class="form-control" ng-model="currentPoint.criteria">
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3" for="name"></label>
							<div class="col-sm-9">
								<pre><code>{{"view_point_manage_edit_criteria_example" | translate}}<br>1) value == "Active"<br>2) value > 570<br>3) value > 100 && value < 200</code></pre>
							</div>
						</div>						
					</fieldset>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary btn-rounded pull-right">{{"view_point_manage_save" | translate}}</button>
						<span class="btn btn-default btn-inverse" ng-click="cancel()">{{"view_point_manage_cancel" | translate}}</span>
					</div>
					
				</form>
			</div>
		</section>
	</div>
</div>