<div class="col-md-12">
	<section class="widget">
		<header>
			<h4>
				<span class="fw-semi-bold">{{"CRUD.list_title" | translate}}</span>
			</h4>
		</header>
		<div class="widget-body">
		
			<div class="clearfix">
				<div class="pull-right">
					<button class="btn btn-primary btn-rounded" ng-click="createForm()">{{"CRUD.list_new" | translate}}</button>
				</div>
			</div>

			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
						<th class="text-center" 
							ng-class="personSearch.sortAttr == 'id' ? (personSearch.sortOder == 'desc' ? 'sorting_desc' : 'sorting_asc') : 'sorting'"  
							ng-click="read(personPage, personSearch, 'id')">{{"CRUD.list_seq" | translate}}</th>
						<th class="text-center" 
							ng-class="personSearch.sortAttr == 'name' ? (personSearch.sortOder == 'desc' ? 'sorting_desc' : 'sorting_asc') : 'sorting'"
							ng-click="read(personPage, personSearch, 'name')">{{"CRUD.list_name" | translate}}</th>						
						<th class="text-center" 
							ng-class="personSearch.sortAttr == 'gender' ? (personSearch.sortOder == 'desc' ? 'sorting_desc' : 'sorting_asc') : 'sorting'"
							ng-click="read(personPage, personSearch, 'gender')">{{"CRUD.list_gender" | translate}}</th>
						<th class="hidden-xs text-center">{{"CRUD.list_birth" | translate}}</th>
						<th class="hidden-xs text-center">{{"CRUD.list_email" | translate}}</th>
						<th class="hidden-xs text-center">{{"CRUD.list_edit" | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="person in people | itemsPerPage: personPage.size"
						total-items="personPage.totalElements" current-page="personPage.currentPage">
						<td class="text-center">{{person.no}}</td>
						<td class="text-center"><a ng-click="readOne(person)">{{person.name}}</a></td>						
						<td class="text-center">{{person.gender}}</td>
						<td class="hidden-xs text-center"><p ng-bind="person.birth | date:'yyyy-MM-dd'"></p></td>
						<td class="hidden-xs">{{person.email}}</td>												
						<td class="hidden-xs text-center">
							<button
								class="btn btn-xs btn-primary"
								mwl-confirm
								title='{{"CRUD.delete_confirm" | translate}}'
								message='{{"CRUD.delete_msg" | translate}}'
								confirm-text='{{"view.global.yes" | translate}}'
								cancel-text='{{"view.global.no" | translate}}'
								placement="top"
								on-confirm="remove(person)"
								on-cancel=""
								confirm-button-type="primary"
								cancel-button-type="inverse">
								{{"CRUD.delete" | translate}}
							</button>
							<button class="btn btn-xs btn-primary"
								ng-click="updateForm(person)">{{"CRUD.edit" | translate}}</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix text-center">
				<!-- <dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls> -->
				<dir-pagination-controls on-page-change="read(personPage, personSearch, null, newPageNumber)"></dir-pagination-controls>
			</div>
			<!-- <code>{{personPage}}</code> -->
		</div>
	</section>
</div>