<div class="col-md-12">
	<section class="widget">
		<header>
			<h4>
				<span class="fw-semi-bold">{{ 'WELCOME.TITLE' | translate }}</span>
			</h4>
		</header>
		<div class="widget-body">
		
			
			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
						<th class="hidden-xs text-center">{{ 'WELCOME.MENU.DESC' | translate }}</th>
						<th class="hidden-xs text-center">{{ 'WELCOME.MENU.FUNCTION' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{ 'WELCOME.MSG_POPUP' | translate }}<br />
							<code>window.alert("world");</code>
						</td>
						<td><button ng-click="world()">window.alert("world");</button></td>
					</tr>
					<tr>
						<td>
							{{ 'WELCOME.MSG_CALL' | translate }}<br />
							<code>$rootScope.$broadcast("app.massagePopup", {"messageKey" : "WELCOME.MSG_CALL", "messageType" : "success"});</code>
						</td>
						<td><button ng-click="sendMssenger()">sendMssenger("WELCOME.MSG_CALL")</button></td>
					</tr>
					<tr>
						<td>
							{{ 'WELCOME.MSG_CALL2' | translate }}<br />
							<code>$rootScope.$broadcast("app.massagePopup", {"messageKey" : msg, "messageType" : "success"});</code>
						</td>
						<td><button ng-click="sendMssenger2('sample text')">sendMssenger2("sample text")</button></td>
					</tr>
					<tr>
						<td>
							{{ 'WELCOME.BLOCKING_POPUP' | translate }}<br />
							<code>$rootScope.$broadcast("app.blockingPopup", enable);</code>
						</td>
						<td><button ng-click="blockingPopup(true)">blockingPopup(true)</button></td>
					</tr>
				</tbody>
			</table>
			<div>
				<a href="/browser">browser</a>
			</div>
			
			<!-- 
			<button ng-click="sendMsg3(\"{{ 'APP.NAME' | translate }}\")">sendMsg2()</button>
			 -->
		
		</div>
	</section>
</div>

